<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319589117169-vbjaj5nmel8sh2m1geje8971luu2msle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319589117169-vbjaj5nmel8sh2m1geje8971luu2msle</string>
	<key>API_KEY</key>
	<string>AIzaSyAKpI7qOSiGcid3tph3o9rubYZNZ5FzQxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>319589117169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Madcamp.Myproject</string>
	<key>PROJECT_ID</key>
	<string>nupzukigo</string>
	<key>STORAGE_BUCKET</key>
	<string>nupzukigo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319589117169:ios:d096bed83d6d67e9338d50</string>
</dict>
</plist>